<h2>Add Recipe</h2>

All fields are required!

<p><section id='add-recipe'>

    <input type="text" id="p-Restaurant" value="" placeholder='Restaurant'>
    <input type="text" id="p-NameOfDish" value="" placeholder='Name of dish'>
    <input type="text" id="p-Tags" value="" placeholder='Tags (Please separate with commas.)'>
    <input type="text" id="p-Ingredients" value="" placeholder='Ingredients (Please separate with commas.)'>
    <input type="text" id="p-Directions" value="" placeholder='Directions'>
    <input type="text" id="p-PrepTime" value="" placeholder='Prep Time'>
    <input type="text" id="p-CookTime" value="" placeholder='Cook Time'>
    <input type="text" id="p-RecipeImage" value="" placeholder='Recipe Image URL'>
    <input type="text" id="p-Source Name" value="" placeholder='SourceName'>
    <input type="text" id="p-Source Link" value="" placeholder='SourceLink'>

    <button type="button" id="p-create-btn">Add Recipe</button>

    <div class='error'></div>

  </section>


<script src="/javascripts/app.js"></script>
<script src="/javascripts/app.views.js"></script>
