<div class="section" id="hero-image">
  <div class="container">
    <div class="row">
      <div class="col l7">
        <h1>Recipes From Your Favorite Restaurants</h1>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">

      <section id='recipe-listing'>
      </section>

      <!-- replace broken img links with default image -->
      <script type="text/javascript">
        function ImgError(source) {
          source.src = "https://www.newstalk.com/content/000/images/000095/97784_60_news_hub_multi_630x0.png";
          source.onerror = "";
          return true;
        }
      </script>

      <!-- start template -->
      <script type='text/template' id='recipe-template'>
        <article>

          <!----------------->
          <!-- recipe card -->
          <!----------------->
          <div class="col s6 m4 l3">
              <!-- cards link to full recipe -->
              <a href="/recipes/individual/<%= _id %>">

                <div class="card hoverable ">
                  <div class="card-image">
                        <img id="recipe-card-image" src="<%= RecipeImage %>" onerror="ImgError(this)" />
                        <span class="card-title">
                            <h5>
                            <%= Restaurant %>
                            <%= NameOfDish %>
                            </h5>
                        </span>
                  </div>

                  <div class="card-content">
                    <p><i class="material-icons">schedule</i> <b>Prep:</b> <%= PrepTime %></p>
                    <p><i class="material-icons">schedule</i> <b>Cook:</b> <%= CookTime %></p>
                  </div>

              </div> <!-- end card div -->

            </a>
        </div>  <!-- end col with card template  -->

        </article>
      </script>
      <!-- end template -->

    </div>
    <!-- end section -->
    <!-- </div> -->
    <!-- end container -->

  </div>
</div>

<script src='/javascripts/app.js'></script>
<script src="/javascripts/app.views.js"></script>
<script src='/javascripts/ajax.js'></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
