<div class="container">
    <div class="row">

        <h1 class="align-center">Login</h1>

        <form id="standard-form" action="/account/login" method="post">
          <input type="text" name="username" value="" placeholder="Your Username">
          <input type="password" name="password" value="" placeholder="Password">
          <input type="submit" value="Login">
        </form>

    </div>
</div>
