  .nav-wrapper input {
      width: 350px;
      position: absolute;
      left: 30%;
      top: 5px;
  }
.ui-autocomplete{
    background:#fff;
    width: 350px;
}
.ui-menu-item {
  margin-top: 10px;
  color: #000;
  font-weight: 500;
  font-size: 1rem;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  margin: 0 0 0 0;
}
.ui-menu-item:hover {
background:#f5f5f5;
}
