<!DOCTYPE html>
<html>
    <head>

        <!-- cdn links -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <!-- icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- cdn links not used. using local files for materialie -->
        <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script> -->

        <!-- local links  -->
        <link rel="stylesheet" href="css/materialize.min.css" media="screen" title="no title" charset="utf-8">
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">

        <meta charset="utf-8">
        <title>CopyChef</title>
    </head>
    <body>
        <nav>
            <div class="navbar-wrapper container">
                <a href="#" class="brand-logo">Copy Chef Chicago</a>
                <!-- <form>
                    <div class="input-field">
                      <input id="search" type="search" required>
                      <label for="search"><i class="material-icons">search</i></label>
                      <i class="material-icons">close</i>
                    </div>
                </form> -->
                <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
                <ul class="right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Signup</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>

        <!-------------------------------->
        <!-- welcome and search section -->
        <!-------------------------------->
        <div class="section" id="search-area">
            <div class="container">
                <div class="row">
                    <h1>Get Recipes by Restaurant or Keyword</h1>
                </div>
                <div class="row">
                    <div class="col l6 m6 s12">
                        <form id="homepage-search" class="" action="index.html" method="post">
                            <input type="" name="name" value="" placeholder=""><br><br>
                            <input type="submit" name="name" value="Get Recipes">
                        </form>
                    </div>
                    <div class="col l6 m6 s12">
                        <h4>Keyword Searches</h4>
                        <div class="divider"></div>
                        <h6>Restaurants</h6>
                        <div class="divider"></div>
                        <h6>Appetizers</h6>
                        <div class="divider"></div>
                        <h6>Restaurants</h6>
                        <div class="divider"></div>
                        <h6>Appetizers</h6>
                        <div class="divider"></div>
                        <h6>Restaurants</h6>
                        <div class="divider"></div>


                    </div>
                </div>
            </div>
        </div>




        <!------------------->
        <!-- cards section -->
        <!------------------->
        <div class="section">

        <div class="container">
            <div class="row">

                <!-- card w image from docs -->
                <div class="col l3 m4 s6">
                  <div class="card hoverable">
                    <div class="card-image">
                      <img src="css/portillos-burger.jpg">
                      <span class="card-title"><p><i class="material-icons">schedule</i>30 m</p></span>
                    </div>
                    <div class="card-content">
                      <h5>Alternative Card from Docs</h5>
                      <div class="card-recipe-tags">
                          <div class="chip">tag</div>
                          <div class="chip">tag</div>
                      </div>
                    </div>
                    <!-- <div class="card-action">
                      <a href="#">This is a link</a>
                    </div> -->
                  </div>
                </div>

                <div class="col l3 m4 s6">
                    <div class="card-panel hoverable">
                        <div class="card-recipe-tags">
                            <div class="chip">tag</div>
                            <div class="chip">tag</div>
                        </div>
                        <div class="card-total-time">
                            <p><i class="material-icons">schedule</i>30 m</p>
                        </div>
                        <div class="card-recipe-name">
                            <h5>Panda Expresss Black Pepper Chicken</h5>
                        </div>
                        <div class="card-image">
                            <img class="card-image" src="css/portillos-burger.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s6">
                    <div class="card-panel hoverable">
                        <div class="card-recipe-tags">
                            <div class="chip">tag</div>
                            <div class="chip">tag</div>
                        </div>
                        <div class="card-total-time">
                            <p><i class="material-icons">schedule</i>30 m</p>
                        </div>
                        <div class="card-recipe-name">
                            <h5>Panda Expresss Black Pepper Chicken</h5>
                        </div>
                        <div class="card-image">
                            <img class="card-image" src="css/portillos-burger.jpg" alt="" />
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s6">
                    <div class="card-panel hoverable">
                        <div class="card-recipe-tags">
                            <div class="chip">tag</div>
                            <div class="chip">tag</div>
                        </div>
                        <div class="card-total-time">
                            <p><i class="material-icons">schedule</i>30 m</p>
                        </div>
                        <div class="card-recipe-name">
                            <h5>Panda Expresss Black Pepper Chicken</h5>
                        </div>
                        <div class="card-image">
                            <img class="card-image" src="css/portillos-burger.jpg" alt="" />
                        </div>
                    </div>
                </div>

            </div><!-- end section -->







            </div>

        </div>
    </body>
</html>
